= form_for [@group, @message] do |f|
  = f.text_field :body, class: "content__main__footer--message", placeholder: "type a message"
  = f.label "image", class: "content__main__footer--picture", style: "color:black" do
    = fa_icon "file-picture-o"
    = f.file_field :image, style: "display: none;"
  = f.submit "Send", class: "content__main__footer--send"

