.content
  = render "side"
  .content__main
    .content__main__header
      .content__main__header__group
        .content__main__header__group__name
          = @group.name
        %span.content__main__header__group__member Member :
        = content_tag :span, class: "content__main__header__group__member" do
          - @group.users.pluck(:name).join(", ")
      = link_to edit_group_path(@group) do
        = content_tag :div, "Edit", class: "content__main__header--edit"
    %ul.content__main__chat
      = render @messages
    .content__main__footer
      = render "footer"

