.content
  = render "side"
  .content__main
    .content__main__header
      .content__main__header__group
        .content__main__header__group__name
          = @group.name
        %span.content__main__header__group__member Member :
        = content_tag :span, class: "content__main__header__group__member" do
          - @group.users.pluck(:name).join(", ")
      = link_to edit_group_path(@group) do
        = content_tag :p, "Edit", class: "content__main__header--edit"
    %ul.content__main__chat
      - @messages.each do |message|
        %li.content__main__chat__message
          = content_tag :span, message.user.name, class: "content__main__chat__message__name"
          = content_tag :span, message.updated_at, class: "content__main__chat__message__time"
          = content_tag :div, message.body, class: "content__main__chat__message__text"
    .content__main__footer
      = render "footer"

