= form_for (@group) do |f|
  .chat-group-form__field
    .chat-group-form__field--left
      = f.label "グループ名", class: "chat-group-form__label"
    .chat-group-form__field--right
      = f.text_field :name, class: "chat-group-form__input", placeholder: "グループ名を入力してください", value: @group.name
  .chat-group-form__field
    .chat-group-form__field--left
      = f.label "チャットメンバーを追加", class: "chat-group-form__label"
    .chat-group-form__field--right
      %input#chat-group-form__search.chat-group-form__input{ type: "text", placeholder: "追加するユーザー名を入力してください" }
      #search__user--result
  .chat-group-form__field
    .chat-group-form__field--left
      = f.label "チャットメンバー", class: "chat-group-form__label"
    .chat-group-form__field--right
      .chat-group-user
        = render partial: "user"
  .chat-group-form__field
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit "Save", class: "chat-group-form__action-btn"

