.chat-group-form
  %h1 チャットグループ編集
  = form_for (@group) do |f|
    #edit_chat_group_22.edit_chat_group
      .chat-group-form__field
        .chat-group-form__field--left
          = f.label "グループ名", class: "chat-group-form__label"
        .chat-group-form__field--right
          = f.text_field :name, id: "chat_group_name", class: "chat-group-form__input", placeholder: "グループ名を入力してください", value: @group.name
      .chat-group-form__field
        .chat-group-form__field--left
          = f.label "チャットメンバーを追加", class: "chat-group-form__label"
        .chat-group-form__field--right
          .chat-group-form__search
            = f.collection_check_boxes :user_ids, User.all, :id, :name
      .chat-group-form__field
        .chat-group-form__field--left
        .chat-group-form__field--right
          = f.submit "commit", class: "chat-group-form__action-btn", value: "Save", "data-disable-with" => "Save"
