.chat-group-form
  %h1 新規チャットグループ
  = form_for (@group) do |f|
    #new_chat_group.new_chat_group
      .chat-group-form__field
        .chat-group-form__field--left
          = f.label "グループ名", class: "chat-group-form__label"
        .chat-group-form__field--right
          = f.text_field :name, placeholder: "グループ名を入力してください", id: "chat_group_name", class: "chat-group-form__label"
      .chat-group-form__field
        .chat-group-form__field--left
          = f.label "チャットメンバーを追加", class: "chat-group-form__label"
        .chat-group-form__field--right
          .chat-group-form__search
            = f.text_field :name, placeholder: "追加したいユーザー名を入力してください", class: "chat-group-form__input"
          #user-search-result
      .chat-group-form__field
        .chat-group-form__field--left
          = f.label "チャットメンバー", class: "chat-group-form__label"
        .chat-group-form__field--right
          #chat-group-users
            #chat-group-user-22.chat-group-user
              = content_tag :p, "seo_kyohei", class: "chat-group-user__name"
      .chat-group-form__field
        .chat-group-form__field--left
        .chat-group-form__field--right
          = f.submit "commit", value: "Save", class: "chat-group-form__action-btn", "data-disable-with" => "Save"
